.sliderTrackContainer--home-slider{
    max-width: 100%;
}

.sliderTrack{
    width: 100%;
}

.imageElement--home-slider{
    min-width: 100%;
    max-height: 100% !important;
}

.paginationDotsContainer--home-slider{
    padding-bottom: 5px;
}