.description--home-shelf-description{
    color: #4B5446;
    margin-top: 15px;
    line-height: 1.5;
}

.nameContainer{
    margin: auto;
}

.sellingPrice--summary{
    color: #EE4266;
    font-size: 1.1rem;
    font-weight: 700;
}