.flexRowContent--main-header{
    background-color: #1F271B;
}

.flexRow--flex-tributo{
    padding-bottom: 100px;
}

.flexRow--fazendas-description{
    margin-bottom: 60px;
}

.flexCol--card-fazendas{
    margin: 45px;
    padding: 5px;
    /* flex-grow: 1; */
    /* width: 33%; */
}

/* .flexRow--fazenda-prods{
    background-color: white;
} */

.flexRowContent--fazenda-prods{
    padding: 20px 0 50px 0;
    background-color: white
}

/* .flexRowContent--row-fazendas .stretchChildrenWidth{
    width: 33%;
} */

.flexColChild--prod-col{
    margin-top: 1.5rem;
}

.flexCol--prod-col :global(.vtex-button){
    height: 1.5rem;
    background-color: #4BA42D;
    transition: box-shadow .3s;
}

.flexCol--prod-col :global(.vtex-button):hover{
    background-color: #258404;
    box-shadow: 0 0 14px rgba(33,33,33,.2); 
}

.flexRow--fazenda-title{
    background-color:#1F271B;
}

/*
.flexRow--fazenda-hero{
    background-color:#F1FDEB;
} */

.flexRow--fazenda-main-text{
    background-color:#1F271B;
}

/* .flexRow--fazenda-body-1{
    background-color:#1F271B;
} */

/* .flexRow--fazenda-body-2{
    background-color: #F1FDEB;
} */

.flexRow--row-fazendas{
    margin-bottom: 4rem
}

.flexRow--flex-info{
    margin: 30px 40px 0 40px;
}

.flexRow--text-contato{
    padding-bottom: 6rem;
}

.priceContainer{
    justify-content: center;
}

/* .container--flex-info{
    margin-top: 20px;

} */

@media(min-width:800px){
    .flexRow--institucional-body{
        margin: 0 10rem 0 10rem;
    }
}

@media(max-width:800px){
    .flexRow--flex-info{
        display: none;
    }
}