.container--footer{
    padding-left: 5px;
}

.paragraph--footer{
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
}

/* ---FAZENDA--- */
.paragraph--fazenda-main-text-text{
    font-weight: 300;
}

.paragraph--fazenda-stats-text{
    font-weight: bold;
    color: #517C96;
}


/*---HOME---*/
.paragraph--home-shelf-title-novidades{
    margin-top: 3rem;
    color: #1F271B;
    border-bottom: 2px solid #1F271B;
    font-size: 1.7rem;
}

.paragraph--home-shelf-title-ofertas{
    /* margin-top: 1rem; */
    color: #1F271B;
    border-bottom: 2px solid #1F271B;
    font-size: 1.7rem;
}

.container--blog-home-see-all{
    margin-bottom: 5rem;
}

.link--blog-home-see-all{
    text-decoration-line: none;
    color: #540D6E;
}

.heading--sobre-title{
    color: #1F271B;
    padding-top: 25px;
}

.paragraph--iranita-prods-title{
    margin-top: 40px;
    border-bottom: 1px solid #1F271B;
}

.container--iranita-prods-title{
    background-color: white
}

.wrapper--descricao-fazendas{
    margin: 0 20rem 0 20rem;
}

@media(max-width: 1100px){
 
    .wrapper--descricao-fazendas{
        margin: 0 12rem 0 12rem;
    }

}

@media(max-width: 700px){
 
    .wrapper--descricao-fazendas{
        margin: 0 1rem 0 1rem;
    }
    
}