.container--newsletter-home{
    background-color: #540d6e;
    margin-top: 3rem;
}
.newsletter--newsletter-pdp{
    background-color: #540d6e;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.label--newsletter-home{
    color: #F3FCF0
}

.inputGroup--newsletter-home :global(.vtex-button){
    background-color: transparent;
    color: #F3FCF0;
    border: 0;
}

.input--newsletter-home{
    background-color: transparent;
    color: #F3FCF0;
}

.notificationBarInner{
    background-color: #EE4266;
}

.notificationContent--top-notification{
    color:#F3FCF0;
    text-decoration-line: none;
    text-emphasis: none;
    text-decoration: none;
    border-bottom: 0px;
}

.imageElement--card-img-fazendas{
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.imageElement--card-img-fazendas:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.productDescriptionTitle--pdp-product-description{
    display: none;
}

.productDescriptionText--pdp-product-description{
    line-height: 1.3rem;
}

:global(.vtex-button){
    /* background-color: #4BA42D; */
    border: none;
}

.specificationsTitle--pdp-spec{
    display: none;
}
.specificationsTablePropertyHeading--pdp-spec{
    display: none;
}
.specificationsTableSpecificationHeading--pdp-spec{
    display: none;
}

.imageElement--home-slider{
    width: 100%;
}